BASE_URL=http://localhost:5013
TIMEOUT=30

ADMIN_EMAIL=admin@exodus.test
ADMIN_PASSWORD=Admin1234!

SELLER_EMAIL=satici@exodus.test
SELLER_PASSWORD=Satici1234!

CUSTOMER_EMAIL=musteri@exodus.test
CUSTOMER_PASSWORD=Musteri1234!
